* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    background-color: #aba;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid {
    background-color: #abb;
    display: grid;
    justify-items: center; 
    align-items: center;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

@media(max-width: 580px) {
    .container2 {
        flex-direction: column;
    }
}

.dois {
    background-color: #ace;
    height: 100px;
}

.container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container3 :first-child {
    grid-column: 1 / -1; 
}

.colunas-3 {
    /* escreva declaracoes aqui */

}

.tres {
    margin: .25rem;
    background-color: #abd;
}