* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Paleta de cores da logo*/
  --marca-azul-escuro: #0175c3;
  --marca-branco: #ffffff;

  /* Cores para aplicar no site*/
  
  /* Fundos */
  --bg-principal: var(--marca-branco);
  --bg-secundario: #f2f9fe;

  /* Textos */
  --texto-titulo: var(--marca-azul-escuro);
  --texto-paragrafo: #2c3e50;

  /* Fonte */
  --fonte-body: Helvetica, sans-serif;
  --fonte-titulo: Verdana, sans-serif;
}

body {
  font-family: var(--fonte-body);
  color: var(--texto-paragrafo);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: 1fr 5fr;
  place-items: center;
  background-color: var(--bg-secundario);
  border: 2px solid var(--marca-azul-escuro);
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

header img {
  width: 150px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu a {
  text-decoration: none;
  color: var(--texto-paragrafo);
  font-family: var(--fonte-body);
  font-size: 18px;
  border: 1px solid var(--texto-paragrafo);
  padding: 5px 10px;
}

.menu a:hover {
  color: var(--marca-azul-escuro);
}

h1, h2, p {
  font-family: var(--fonte-titulo);
  color: var(--texto-titulo);
  text-align: center;
}

.menu, section, article {
  margin: 20px;
  padding: 12px;
}
/* Página Sobre nós */
.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 15px;
  left: 325px;
  background-color: var(--bg-principal);
  padding: 5px;
  border-radius: 5px;
}

.hero article {
  position: absolute;
  bottom: 0;
  left: 10px;
  background-color: var(--bg-principal);
}

.hero article img {
  float: right;
  width: 125px;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-secundario);
}

.history div {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  place-items: center;
}

.history img {
  width: 150px;
}

.Adventure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.Adventure div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  text-align: center;
}

.Adventure img {
  width: 150px;
}

/* Estilo página de contato */

.contato, .mapa {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.informacoes label {
  font-weight: bold;
  margin-bottom: 10px;
}

.informacoes input[type="text"],
.informacoes input[type="email"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-left: 45px;
}

.motivo {
  display: flex;
  gap: 10px;
}

.opcoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: vertical;
}

form button {
  padding: 10px;
  background-color: var(--marca-azul-escuro);
  color: var(--marca-branco);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.funcionarios {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-secundario);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
}

.funcionario {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.funcionario img {
  width: 150px;
  border-radius: 10px;
}

.funcionario div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bg-secundario);
  padding: 10px;
}

.redes-sociais {
  display: flex;
  gap: 8px;
  
}

.redes-sociais a {
  text-decoration: none;
}

.redes-sociais img {
  width: 30px;
}