* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Paleta de cores da logo*/
  --marca-azul-escuro: #0175c3;
  --marca-azul-claro: #3fbbe9;
  --marca-vermelho: #ff392f;
  --marca-branco: #ffffff;

  /* Cores para aplicar no site*/
  
  /* Fundos */
  --bg-principal: var(--marca-branco);

  /* Textos */
  --texto-titulo: var(--marca-azul-escuro);
  --texto-paragrafo: #2c3e50;

  /* Fonte */
  --fonte-body: Helvetica, sans-serif;
  --fonte-titulo: Verdana, sans-serif;
}

body {
  font-family: var(--fonte-body);
  color: var(--texto-paragrafo);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--fonte-titulo);
  color: var(--texto-titulo);
  text-align: center;
}

nav, p, section, article {
  margin: 20px;
  padding: 12px;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 15px;
  left: 325px;
  background-color: var(--bg-principal);
  padding: 5px;
  border-radius: 5px;
}

.hero article {
  position: absolute;
  bottom: 0;
  left: 10px;
  background-color: var(--bg-principal);
}

.hero article img {
  float: right;
  width: 125px;
}