* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: aliceblue;
  padding: 10px;
}

nav a {
  color: #000000;
  padding: 8px;
  display: block;
}

main {
  max-width: 850px;
}

main img {
  width: 200px;
  height: auto;
  border: 1px solid #000000;
  padding: 10px;
  box-shadow: 10px 5px 5px black;
}

h1 {
  color: cornflowerblue;
}

aside {
  width: 650px;
  margin: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 20px;
  background-color: aliceblue;
  color: #000000;
}

aside img {
  width: 200px;
  height: auto;
}

p {
  padding: 0;
}

footer {
  margin-top: 40px;
  border-top: 10px;
  text-align: center;
}