* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-texto-borda: #000000;
  --cor-fundo: aliceblue;
  --comprimento-imagem: 200px;
  --cor-houver-link: cadetblue;
  --cor-titulo: cornflowerblue;
}

header, footer, .grid {
  max-width: 840px;
  margin: 0 auto;
}

nav {
  background-color: var(--cor-fundo);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav a {
  color: var(--cor-texto-borda);
  padding: 8px;
  display: block;
  text-decoration: none;
}

nav a:hover {
  color: var(--cor-houver-link);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main img {
  width: var(--comprimento-imagem);
  height: auto;
  border: 1px solid var(--cor-texto-borda);
  border-radius: 8px;
  padding: 5px;
  box-shadow: 4px 2px 2px var(--cor-texto-borda);
  float: right;
}

h1 {
  display: inline-block;
  color: var(--cor-titulo);
  border-bottom: 1px solid var(--cor-titulo);
}

aside {
  border-radius: 5px;
}

aside h2 {
  position: absolute;
  top: 25px;
  left: 45px;
}

aside img {
  width: var(--comprimento-imagem);
  height: auto;
}

p {
  padding: 0;
  text-align: justify;
}

footer {
  margin-top: 40px;
  border-top: 10px;
  text-align: center;
}

/* Seletores de classe */

.caixa {
  position: relative;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--cor-texto-borda);
  background-color: var(--cor-fundo);
  color: var(--cor-texto-borda);
  clear: both
}