* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  width: 550px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
  background-color: antiquewhite;
  border-radius: 10px;
}

form label {
  font-size: 16px;
  font: bold;
}

form input, textarea, select {
  width: 290px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #000000;
}

form select option {
  font-size: 16px;
  color: #000000;
}

form button {
  width: 190px;
  padding: 8px 5px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: aliceblue;
  font-size: 17px;
}